@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Routing

<header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text">MusicStore</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">MusicStores es una plataforma en línea para comprar y vender instrumentos musicales y accesorios.</h2>
                        <a class="btn btn-primary" href="javascript:void(0);" @onclick="NavigateToSectionProject">
                            Inicio
                            <i class="fas fa-arrow-down"></i>
                        </a>
                    </div>
                </div>
            </div>
        </header>

@code {
    private void NavigateToSectionProject()
    {
        NavigationManager.NavigateTo("#projects", forceLoad: true);
    }
}
